:root {
    --clr-dark: #1F2937;
    --clr-light: #F9FAF8;
    --clr-main:  #3882F6;
    --clr-light2: #E5E7EB;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: sans-serif;
}

/***** GENERIC STYLING *****/

li {
    list-style: none;
}

.second-area-body, .footer {
    text-align: center;
}

button {    
    width: 90px;
    height: 25px;
    background-color: var(--clr-main);
    color: var(--clr-light);
    border: none;
    border-radius: 8px;
    font-weight: 700;
}

.navigation {
    display: flex;
    justify-content: space-evenly;
}

.navigation h2 {
    font-size: 24px;
    color: var(--clr-light);
}

ul {
    display: flex;
    gap: 16px;
    align-items: center;
}

/***** HEADER STYLING *****/

.header {    
    width: auto;
    height: 20em;
    background-color: var(--clr-dark);
    color: var(--clr-light);
    padding: 10px;
}

.image-placeholder {
    width: 400px;
    height: 200px;
    background-color: gray;
}

.image-placeholder, .header-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content {
    gap: 50px;
    margin-top: 20px;
}

.header-content-left {
    display: flex;
    flex-wrap: wrap;
    max-width: 20em;
    gap: 12px;
}

.header-content-left p {
    color: var(--clr-light2);
}

/***** BODY STYLING *****/

.first-area-body, .second-area-body, 
.third-area-body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 20em;
}


.first-area-body {
    flex-direction: column;
    gap: 20px; 
}

.second-area-body {
    background-color: var(--clr-light2);
}

.showcase, .showcase-item {
    display: flex;
    justify-content: center;
}

.showcase-item {
    max-width: 200px;
    flex-wrap: wrap;
    gap: 20px;
}

/***** Creating empty squares as placeholder *****/
.showcase div div{
    width: 100px;
    height: 100px;
    border: 5px solid var(--clr-main);
    border-radius: 10%;
}

.quote {
    font-size: 30px;
    font-weight: 100;
    font-style: italic;
    color: var(--clr-dark);
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-end;
}

.quote-credits {
    font-weight: 600;
    font-size: 16px;
}

.call-to-action {
    width: 65%;
    height: 100px;
    background-color: var(--clr-main);
    color: var(--clr-light);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.call-to-action button {
    border: 2px var(--clr-light) solid;
}


/***** FOOTER STYLING *****/

.footer {
    width: auto;
    height: 3em;
    background-color: var(--clr-dark);
    color: var(--clr-light);
    padding-top: 20px;
}